.dashboard{
    background-color: rgb(75, 72, 72);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vmin);
    color: white;
    width: 100%;
    height: calc(85vmin);
    padding-top: calc(1vmin);
  }