@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

.dashboard{
    color: black;
    width: 100%;
    flex-direction: column;
  }

  .screenContent{
    position: relative;
  }

  .imageBox{
    background-color: white;
    position: absolute;
    left: calc(5vw);
    height: calc(80%);
    margin-right: calc(5vw);
  }
  .searchResult:hover {
    background-color: rgb(63, 0, 150);
    cursor: pointer;
    color: rgb(228, 209, 255);
    transition-duration: .3s;
  }
  .heart:hover,
  .heart:hover:before,
  .heart:hover:after {
    background-color: rgb(250, 125, 255);
    transition-duration: .3s;
    cursor: pointer;
  }

  .heart {
    margin-top: calc(2.25vh);
    right: calc(5vw);
    background-color: rgb(177, 179, 250);
    display: inline-block;
    height: calc(3.5vh);
    position: absolute;
    top: 0;
    transform: rotate(-45deg);
    width: calc(3.5vh);
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: rgb(177, 179, 250);
    border-radius: 50%;
    height: calc(3.5vh);
    position: absolute;
    width: calc(3.5vh);
  }
  
  .heart:before {
    top: calc(-1.75vh);
    left: 0;
  }
  
  .heart:after {
    left: calc(1.75vh);
    top: 0;
  }

  .fixedHeight {
    height: calc(8vh);
  }

  .searchResult{
    position: relative;
    border-color: rgb(180, 180, 180);
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: calc(4.5vh);
    border-bottom-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    text-align: center;
    width: calc(85%);
    height: calc(8vh);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: calc(0px);
    padding-bottom: calc(0px);
  }