.titleheader{
    width: calc(100%);
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.title{
    padding-left: calc(1vw);
    text-align: left;
    font-weight: bolder;
    border: 1px solid black;
}

.popup{
    text-align: left;
    border: 1px solid black;
    padding-left: calc(1vw);
    
}

.btn {
    margin-top: calc(0.6rem) !important;
}


.header-div{
    padding-left: calc(4vw);
    padding-top: calc(2vh);
    padding-bottom: calc(4vh);
}

.required{
    text-align: left;
    padding-top: calc(1vh);
    padding-left: calc(1vw);
    font-weight: lighter;
}

.subtitle{
    padding-left: calc(3vw);
    padding-top: calc(1vh);
}

.essaytext{
    /* padding-top: calc(5vh); */
    padding-left: calc(6vw);
}

.supplementaltext{
    padding-top: calc(0.5vh);
    padding-left: calc(6vw);
}