@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

.titleheader{
    width: calc(100%);
    display: flex;
    flex-direction: row;
}

.title{
    padding-left: calc(1vw);
    text-align: left;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

.popup{
    text-align: left;
    padding-left: calc(1vw);
}

.btn {
    margin-top: calc(3vh) !important;
}


.header-div{
    padding-left: calc(4vw);
    padding-top: calc(2vh);
    padding-bottom: calc(4vh);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.required{
    text-align: left;
    padding-top: calc(1vh);
    padding-left: calc(1vw);
    font-family: 'Roboto', sans-serif;
}

.subtitle{
    padding-left: calc(3vw);
    padding-top: calc(1vh);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.essaytext{
    padding-left: calc(6vw);
    font-family: 'Open Sans', sans-serif;
}

.supplementaltext{
    padding-top: calc(0.35vh);
    padding-left: calc(6vw);
    font-family: 'Open Sans', sans-serif;
}