@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Roboto&family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap');


.Explore {
    color: black;
    width: 100%;
    height: 100%;
}

.height {
    left: calc(92vw);
    position: absolute;
  }

.filter-name {
    text-align: center;
    padding-bottom: calc(0.2rem);
    padding-top: calc(0.5rem);
    font-family: 'Roboto', sans-serif;
}

.slider {
    width: calc(90%);
}

.container-div {
    display: flex;
    flex-direction: row;
    margin-top: calc(1.5rem);
}

.filter {
    width: calc(25rem);
    height: calc(60vh);
    margin-left: calc(0.5rem);
    margin-top: calc(1.5rem);
}

.tuition {
    width: 100%;
    margin-top: calc(1rem);
    display: flex;
    flex-direction: row;
}

.header {
    width: calc(60%);
    text-align: left;
    padding-left: calc(0.3rem);
    font-size: calc(1rem);
    white-space: nowrap;
    position: relative;
    top: calc(0rem);
    font-family: 'Muli', sans-serif;
    outline: none;
    margin-left: calc(1rem);
}

.filter-form {
    width: 100%;
    float: right;
    position: relative;
    bottom: calc(0.3rem);
    outline: none;
}

.filter-form input {
    font-family: 'Lato', sans-serif;
    width: calc(40%);
    font-size: inherit;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

input[type="text"]
{
    font-size:calc(1rem);
}

.oos-tuition {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: calc(0.4rem);
    margin-bottom: 0;
}

.oos-tuition h4 {
    font-size: calc(1.3vh);
}

.checkbox {
    margin-top: 0;
    margin-right: calc(0.4rem);
}

span {
    margin-left: calc(0.6rem);
    margin-right: calc(0.6rem);
}

.app-type {
    margin-top: calc(0.75rem);
    display: flex;
    flex-direction: column;
}

.school-type {
    margin-top: calc(1rem);
    display: flex;
    flex-direction: column;
}

.filter-type {
    width: 100%;
    margin-bottom: calc(0.6rem);
    outline: none;
}

.app-div {
    width: 40%;
    margin-left: calc(1rem);
    margin-bottom: calc(0.6rem);
}

.dropdown-div {
    width: calc(100%);
}

.dropdown-name {
    margin-left: calc(0.3rem);
    font-family: 'Muli', sans-serif;
}

.app-type select {
    outline: none;
    width: 40%;
}

.school-type select {
    outline: none;
}

.filter-button-div {
    width: 100%;
    text-align: center;
    margin-top: calc(2rem);
}

.filter-button {
    border: none;
    border-left: none;
    height: calc(2.5rem);
    width: calc(5.5rem);
    font-size: calc(1.5rem);
    font-family: 'Cuprum', sans-serif;
    background-color: rgb(209, 202, 202);
    transition: 0.3s;
    outline: none;
}

.filter-button:hover {
    background-color: rgb(41, 228, 41);
    transition: 0.3s;
}

.content-display {
    width: calc(100%);
}

.float-display {
    float: right;
    width: calc(25rem);
    display: flex;
    flex-direction: row;
    margin-right: calc(1rem);
}

.sort-by {
    width: calc(100%);
}

.filter-type {
    display: flex;
    flex-direction: row;
    height: calc(1.8rem);
    border: 1px solid black;
}

.filter-span {
    font-size: calc(1.3rem);
    margin-right: calc(0.5rem);
    outline: none;
    font-family: 'Muli', sans-serif;
}

.button {
    margin-left: calc(1rem);
    width: calc(9rem);
    font-size: calc(1.3rem);
    justify-content: center;
    font-family: 'Cuprum', sans-serif;
    display: flex;
    border: none;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    outline: none;
    border-radius: calc(0.5vh);
}

.button:hover {
    transition: 0.3s;
    background-color: #d5d6d8;
}

select {
    width: calc(40%);
}

.ListColleges {
    width: 100%;
    margin-left: 0;
    display: grid;
    grid-template-columns: calc(33%) calc(33%) calc(33%);
}

.ListColleges li {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: calc(0.7rem);
}

.backgroundSolid{
    background-color: white;
    position: absolute;
    left: calc(0vw);
    height: calc(100%);
    width: calc(25vw);
  }

  .backgroundBlend {
    height: calc(100%);
    position: absolute;
    left: calc(20vw);
    width: calc(8vw);
    background-image: linear-gradient(to right, white, #313b4c);
    opacity: 0;
  }

  .searchResult:hover > .backgroundBlend{
    height: calc(100%);
    opacity: 1;
    transition: opacity .3s ease-in;   
    -moz-transition: opacity .3s ease-in;
    -webkit-transition: opacity .3s ease-in;
    position: absolute;
    left: calc(20vw);
    width: calc(9vw);
    background-image: linear-gradient(to right, white, #313b4c);
    transition-duration: 0s;
    cursor: pointer;
  }

  .imageBox{
    background-color: white;
    position: absolute;
    left: calc(5vw);
    height: calc(80%);
    margin-right: calc(5vw);
  }

  .searchResult:hover {
    background-color: #313b4c;
    background: linear-gradient(to right, white calc(28vw), white calc(28vw), #313b4c calc(28vw), #313b4c calc(72vw));
    cursor: pointer;
    color: rgb(228, 209, 255);
    transition-duration: .3s;
  }
  .heartHeight {
      top: calc(-10vh);
  }
  
  .fixedHeight {
    height: calc(8vh);
  }

  .searchResult{
    position: relative;
    border-color: rgb(180, 180, 180);
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: calc(4.5vh);
    border-bottom-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    text-align: center;
    width: calc(87%);
    height: calc(8vh);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: calc(0px);
    padding-bottom: calc(0px);
  }

  .height {
    left: calc(92vw);
    position: absolute;
  }

  .filter-applied {
      margin-left: calc(0.9rem);
      width: 100%;
      display: flex;
      flex-direction: row;
  }

  .node-filter {
      margin-top : calc(0.8rem);
      width: calc(2.6rem);
      display: flex;
      flex-direction: row;
      background-color: rgb(207, 206, 206);
      margin-left: calc(0.4rem);
  }

  .icon-delete {
      margin-left: calc(0.2rem);
  }

  .state-name {
      margin-left: calc(0.3rem)
  }