@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Roboto&family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@500&display=swap');


.Explore {
    color: black;
    width: 100%;
    height: 100%;
}

.filter-name {
    text-align: center;
    padding-bottom: calc(0.2rem);
    padding-top: calc(0.5rem);
    font-family: 'Roboto', sans-serif;
}

.container-div {
    display: flex;
    flex-direction: row;
}

.filter {
    width: 25rem;
    height: calc(60vh);
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: calc(0.5rem);
}

.tuition {
    width: 100%;
    margin-top: calc(1rem);
    display: flex;
    flex-direction: row;
}

.header {
    width: calc(60%);
    text-align: left;
    padding-left: calc(0.3rem);
    font-size: calc(1rem);
    white-space: nowrap;
    position: relative;
    top: calc(0rem);
    font-family: 'Muli', sans-serif;
    outline: none;
}

.filter-form {
    width: 100%;
    float: right;
    position: relative;
    bottom: calc(0.3rem);
    outline: none;
}

.filter-form input {
    font-family: 'Lato', sans-serif;
    width: calc(39%);
    font-size: inherit;
    outline: none;
}

input[type="text"]
{
    font-size:calc(1rem);
}

.oos-tuition {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: calc(0.4rem);
    margin-bottom: 0;
}

.oos-tuition h4 {
    font-size: calc(1.3vh);
}

.checkbox {
    margin-top: 0;
    margin-right: calc(0.4rem);
}

span {
    margin-left: calc(0.6rem);
    margin-right: calc(0.6rem);
}

.app-type {
    margin-top: calc(0.75rem);
}

.school-type {
    margin-top: calc(1rem);
}

.filter-type {
    width: 100%;
    margin-bottom: calc(0.6rem);
    outline: none;
}

.dropdown-name {
    margin-left: calc(0.3rem);
    padding-right: calc(2rem);
    width: calc(100%);
    font-family: 'Muli', sans-serif;
}

.app-type select {
    margin-left: calc(1.25rem);
    outline: none;
}

.school-type select {
    outline: none;
}

.filter-button-div {
    width: 100%;
    text-align: center;
    margin-top: calc(4rem);
}

.filter-button {
    border: none;
    border-left: none;
    height: calc(2.5rem);
    width: calc(5.5rem);
    font-size: calc(1.5rem);
    font-family: 'Cuprum', sans-serif;
    background-color: rgb(209, 202, 202);
    transition: 0.3s;
    outline: none;
}

.filter-button:hover {
    background-color: rgb(41, 228, 41);
    transition: 0.3s;
}

.content-display {
    width: calc(100%);
}

.float-display {
    float: right;
    width: calc(25rem);
}

.filter-type {
    display: flex;
    flex-direction: row;
    height: calc(1.8rem);
}

.filter-span {
    font-size: calc(1.3rem);
    margin-right: calc(0.5rem);
    outline: none;
    font-family: 'Muli', sans-serif;
}

.filter-type select{
    width: calc(35%);
    height: calc(1.8rem);
    outline: none;
}

.button {
    margin-left: calc(1rem);
    width: calc(8rem);
    font-size: calc(1.5rem);
    /* transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); */
    justify-content: center;
    font-family: 'Cuprum', sans-serif;
    display: flex;
    border: none;
    border-left: none;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    outline: none;
    border-radius: calc(0.5vh);
}

.button:hover {
    transition: 0.3s;
    background-color: rgb(186, 187, 186);
}

select {
    width: calc(40%);
}

.ListColleges {
    width: 100%;
    margin-left: 0;
    display: grid;
    grid-template-columns: calc(33%) calc(33%) calc(33%);
}

.ListColleges li {
    width: 100%;
    text-align: center;
    display: inline-block;
}

