/*@import url('https://fonts.googleapis.com/css?family=Font+Name');*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.Login, .Signup {
  height: calc(100vmin);
  width: calc(100%);
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(15, 15, 75);
}

.credentials {
    height: calc(30vmin);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: calc(20vmin);
}

.header {
    position: relative;
    font-size: calc(7vmin);
    color: white;
    text-align: center;
    top: calc(10vh);
    font-family: 'Oswald', sans-serif;
    margin-bottom: calc(10vh);
}

h1 {
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: calc(6vmin);
}

.email-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.email, .password {
    position: relative;
    margin-bottom: calc(2vh);
    width: calc(55vmin);
    height: calc(7vmin);
    font-size: calc(2.5vmin);
    text-indent: calc(3vmin);
    text-align: left;
    cursor: text;
    border-color: transparent;
    border-bottom-color: rgb(210, 210, 210);
    border-width: calc(.3vmin);
    background-color: transparent;
    margin-top: calc(5%);
    border-bottom-style: solid;
}

.password {
    margin-top: calc(2%);
}

.login-button-div {
    margin-top: calc(3vh);
    padding-bottom: calc(6vmin);
}

.login-button {
    display: block;
    width: calc(23vmin);
    border-radius: 20px;
    border: none;
    text-align: center;
    padding-top: calc(1vmin);
    padding-bottom: calc(1vmin);
    background-color: white;
    opacity: 90%;
    font-size: calc(2vmin);
}

.login-button:hover {
    background-color: rgb(177, 171, 171);
}

.google-login-divide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
    width: 100%;
    height: calc(10vmin);
}

h2 {
    width: calc(5vmin);
    text-align: center;
    font-size: calc(3vmin);
    color: rgb(210, 210, 210);
}

hr {
    border: 0;
    width: calc(30vmin);
    color: blue;
    background-color: rgb(210, 210, 210);
    height: calc(.3vh);
    margin-bottom: calc(3vmin);
  }

  .lineone {
      margin-right: calc(6vmin);

  }

  .linetwo { 
      margin-left: calc(6vmin);
  }

  .google-button {
      margin-top: calc(1%);
  }