@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Lato:ital@1&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.tile-layout {
    display: flex;
    flex-direction: column;
    width: calc(96%);
    height: calc(30rem);
    border-radius: calc(1vmin);
    margin-bottom: calc(1vmin);
    color: black;
    background-color: rgb(243, 243, 243);
    box-shadow: calc(3px) calc(3px) calc(10px) grey; 
    transition: 0.3s;
}

.tile-layout:hover {
    transition: 0.3s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.center-header {
    display: flex;
    flex-direction: row;
    position: relative;
}

.header-tile {
    width: calc(80%);
    display: block;
    flex-direction: row; 
    margin-left: calc(1.75rem);   
}

.college-name {
    text-align: center;
    width: calc(100%);  
}

.college-name h1{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
}

.college-icon {
    margin-top: calc(2rem);
    width: 100%;
    justify-content: center;
    overflow: hidden;
}

.specifications {
    text-align: center;
    width: 100%;
    margin-left: calc(0rem);
    margin-top: calc(1.5rem);
}

.specifications h3 {
    font-size: calc(1.1rem);
    font-family: 'Karla', serif;
    font-weight: 900;
}

.tuition-display {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: calc(0rem);
}


.information-div{
    width: 100%;
    text-align: center;

}

.favorite-icon{
    width: calc(9.5%);
    padding-top: calc(2.5rem);
    justify-content: right;
    position: absolute;
    right: 0;
    height: 0;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
}

