@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Lato:ital@1&family=Roboto&display=swap');

.tile-layout {
    display: flex;
    flex-direction: column;
    width: calc(96%);
    height: calc(23rem);
    border-radius: calc(1vmin);
    margin-bottom: calc(1vmin);
    color: black;
    background-color: rgb(243, 243, 243);
    box-shadow: calc(3px) calc(3px) calc(10px) grey; 
}

.tile-layout:hover {
    transition: 0.3s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.college-name {
    text-align: center;
    width: 100%;  
}

.college-name h1{
    font-family: 'Alegreya Sans', sans-serif;
}

.college-icon {
    margin-top: calc(2rem);
    width: 100%;
    justify-content: center;
    overflow: hidden;
}

.specifications {
    text-align: left;
    width: 100%;
    margin-left: calc(0.5rem);
    margin-top: calc(1.5rem);
}

.specifications h3 {
    font-size: calc(1rem);
    font-family: 'Lato', sans-serif;
}

.tuition-display {
    display: flex;
    flex-direction: row;
    margin-left: calc(1rem);
}

.tuition-display span{
    width: 15%;
}

.information-div{
    width: 100%;
    text-align: center;

}
